/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

table td{
	padding: 0 1em
}
table td{
	text-align: center;
}
table td:first-of-type{
	text-align: left;
	padding-left: 0.5em;
}
table th {
	background-color: #666;
	color: #fff;
	padding: 0.5em;
}
table tr:nth-child(odd){
	background-color: #ccc;
}
table tr:hover{
	background-color: #f66;
}

.error{
	background-color: #f00;
	border-color: #900;
	padding: 1em;
	color: #fff;
}